@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Lobster&family=Luckiest+Guy&family=Outfit:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: outfit;
    scroll-behavior: smooth;
}
body{
    min-height: 100vh;
}
a{
    text-decoration: none;
    color: inherit;
}
.app{
    width: 80%;
    margin: auto;
}

.navbar-menu{
    display: flex;
    list-style: none;
    gap: 20px;
    color: #49557e;
    font-size: 18px;
}
.navbar-right{
    align-items: center;
    gap: 40px;
    display: flex;
}
.navbar button{
    background: transparent;
    font-size: 16px;
    color: #49557e;
    border: 1px solid tomato;
    padding: 10px 30px;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.3s;
} 
.navbar button:hover{
    background: #fff4f2;
}
@keyframes fadeIn{
    0%{
        opacity: 0;
    }
     100%{
        opacity: 1;
    }
}
